[% FOREACH component IN components.pairs -%]
            # [% component.value.nvr %]
            [% component.key %]:
                rationale: >-
                    [% component.value.rationale %]
                ref: [% component.value.ref %]
[% END -%]
